<div class="wrapper" [class.ended]="ended">


    <div class="question-wrapper">
        <div class="question">{{currentQuestion.question}}</div>
        <div class="answers">

            @for (answer of currentQuestion.answers; track answer.text) {
            <div class="answer" (click)="selectAnswer(answer)">{{answer.text}}</div> } @empty { none }
        </div>
        <div class="progress-wrapper">
            <div class="progress-text">{{answersGiven}}/{{numberOfQuestions}}</div>
            <div class="progress">
                <div class="bar" [style.width]="answersGiven / numberOfQuestions * 100+'%'"></div>
            </div>
        </div>
    </div>
    <div class="score">
        <div class="title">Final result</div>
        <div class="clans">
            @for (clan of sortClans(clanScore); track clan) {

            <div class="item"><span class="clan-name">{{clan.name}}</span> {{clan.score}} pts
            </div>
            } @empty { none }
        </div>
    </div>


</div>
